<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>todos autores</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
<!-- BoxIcons CDN link  -->
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1> Lista de autores</h1>


<table>
<thead>
<tr>

<th scope="col">ID</th>
<th scope="col">Nombre</th>


</tr>
</thead>

<tbody th:each="autor:${autores}">
<tr>
<td th scope="row" th:text="${autor.id}"></td>
    <td th:text="${autor.nombre}"></td>


    <td>

        <a th:href="@{/autores/baja/__${autor.id}__}"><i class="fa fa-ban"></i></a>
    </td>


</tr>

</tbody>


</table>

<td>

<i class='bx bxs-layer-plus'> Agregar nuevo autor</i>
</td>
</body>
</html>